# 这是一个示例环境变量文件，您可以根据需要修改其中的值。
ILINK_TOKEN=xxxxb1@im.bot:0xxxxx
TO_USER_ID=xxxxxxeM@im.wechat
CONTEXT_TOKEN=AARzJWAFAAABAAAAAABNCUe73/xxxxx
BIRTHDAYS_JSON=[{"id":"example-1","parentId":null,"spouseId":null,"familyName":"张","generation":1,"name":"张三","relation":"队友","birthYear":null,"birthdayType":"solar","birthMonth":8,"birthDay":30},{"id":"example-2","parentId":null,"spouseId":null,"familyName":"李","generation":1,"name":"李四","relation":"队友","birthYear":null,"birthdayType":"lunar","birthMonth":5,"birthDay":12}]
